<form action="/login" enctype="multipart/form-data" method="post">
  Benutzername:
  <input type="text" name="username" /><br />
  Passwort:
  <input type="password" name="password" /><br />
  <input type="submit" />
</form>