<form action="/register" enctype="multipart/form-data" method="post">
  Name:
  <input type="text" name="name" /><br />
  Email:
  <input type="text" name="email" /><br />
  Benutzername:
  <input type="text" name="username" /><br />
  Passwort:
  <input type="password" name="password" /><br />
  <input type="submit" />
</form>